/* ================== */
/* ===== HEADER ===== */
/* ================== */

/* ----- NAVBAR ----- */

@media (min-width: 1200px) {
    .responsive-navbar  {
        display: flex;
        justify-content: center;
    }
}

.website-picture {
    width: 12rem;
}

.navbar-brand {
    margin-right: 10rem !important;
}

.navbar-collapse {
    text-align: center !important;
	text-transform: uppercase !important;
    font-weight: bold !important;
    font-family: 'Playfair Display', serif !important;
}

.navbar-nav {
    line-height: 2rem !important;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.nav-link-contact {
    color: #0572FB !important;
    border: solid !important;
    border-radius: 30px !important;
    padding: 0.5rem !important;
}

.nav-link-contact:hover {
    text-decoration: underline;
    color: white;
}

.nav-link-contact:hover {
    color: white !important;
    background-color: #0572FB !important;
}

@media (max-width: 991px) {
    .nav-link-contact  {
        padding: 0.5rem 10rem !important;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        margin-right: 5rem !important;
    }

    .nav-link-contact  {
        padding: 0.5rem 5rem !important;
    }
}

/* ================ */
/* ===== MAIN ===== */
/* ================ */

/* ----- BANNER-PICTURE ----- */

.container-banner-picture {
    background-image: linear-gradient(rgba(89, 43, 43, 0.45) 0%, rgb(0, 0, 0) 100%), url(../IMG/website-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 20rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .container-banner-picture {
        background-size: 3px 3px !important;
        background-image: repeating-linear-gradient(135deg, rgb(0, 128, 255), rgb(0, 128, 255) 3px, rgba(0, 0, 0, 0) 3px, rgba(0, 0, 0, 0) 6px) !important;
    }

    .container-banner-title {
        color: white !important;
    }
}

.container-banner-title {
    font-family: 'Merriweather', serif;
    color: #0572FB;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    padding-top: 6.5rem;
}

/* ----- CARD-ARTICLE ----- */

.card {
    border: none !important;
}

.date {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
}

.card-body {
    padding: 1rem 4rem 0 0 !important;
}

.article-picture-one {
    background-image: url(../IMG/article-1.jpg);
}

.article-picture-two {
    background-image: url(../IMG/article-2.jpg);
}

.article-picture-three {
    background-image: url(../IMG/article-3.jpg);
}

.article-picture-four {
    background-image: url(../IMG/article-4.jpg);
}

.article-picture-five {
    background-image: url(../IMG/article-5.png);
}

.article-picture-six {
    background-image: url(../IMG/article-6.png);
}

.article-picture-seven {
    background-image: url(../IMG/article-7.png);
}

.article-picture-eight {
    background-image: url(../IMG/article-8.jpg);
}

.article-picture-nine {
    background-image: url(../IMG/article-9.jpg);
}

.article-picture-ten {
    background-image: url(../IMG/article-10.jpeg);
}

.article-picture-style {
    background-size: cover;
    background-position: center;
    border: dashed #0A52E8;
    height: 255px !important;
}

.badge {
    background-color: black !important;
    position: absolute;
    text-transform: uppercase;
    font-weight: 300 !important;
    top: 15.7rem;
    border-radius: 0 !important;
    padding: 0.4rem 0.8rem !important;
}

.badge:hover {
    color: rgb(110, 110, 110);
}

.card-title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-bottom: 1rem !important;
    font-size: 1.5rem;
}

.card-title-link {
    color: black;
    text-decoration: none;
}

.card-title-link:hover {
    color: black;
}

.article-link {
    color: black;
    font-weight: bold;
    border-top: solid 1px;
    border-bottom: solid 1px;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.article-link:hover {
    color: #0A52E8;
}

/* ----- PAGINATION ----- */

.pagination-style {
    margin: 3rem 0;
}

.page-item-first {
    color: black !important;
    text-decoration: none !important;
    opacity: 0.5;
    padding: 0.4rem 0.5rem;
    margin-right: 2rem;
}

.page-item-brackets {
    color: black !important;
    opacity: 0.5;
    padding: 0.4rem 0.5rem;
}

.page-item-number {
    color: white;
    background-color: #0A52E8;
    padding: 0.375rem 0.75rem;
    margin-right: 0.5rem;
}

.page-link:hover {
    background-color: #B1CEF3 !important;
}

.page-item-point {
    padding: 0.375rem 0.75rem;
}

.page-item-last {
    padding: 0.4rem 0.5rem;
}

.page-link-last {
    color: black !important;
    text-decoration: none !important;
}

.page-link-last:hover {
    color: #0A52E8 !important;
}

/* ----- ARTICLE-LIST ----- */

.list-title {
    font-weight: bold;
    text-transform: uppercase;
}

.list-article {
    border-bottom: 1px solid;
    margin-right: 25rem;
    margin-top: 1rem;
    width: 16px;
}

.link-style {
    color: black ;
    text-decoration: none;
}

.link-style:hover {
    color: black ;
    text-decoration: underline;
}

.list-group-item {
    border: none !important;
}

/* ================== */
/* ===== FOOTER ===== */
/* ================== */

@media (max-width: 991px) {
    footer .text-center {
        text-align: start !important;
    }
}

.footer-style {
    background-color: #0C1115;
    padding-top: 2rem;
}

.card-style {
    background-color: #0C1115 !important;
}

.text-reset {
    text-decoration: none !important;
}

.footer-link {
    color: #0572FB;
}

.footer-link:hover {
    color: darkblue;
}

.footer-contact {
    font-size: 0.8rem !important;
    font-weight: bold !important;
}

.footer-social {
    color: white;
    background-color: #141515;
    border: solid #141515;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 0.2rem 0.4rem;
}

.footer-social:hover {
    background-color: grey;
    border: solid grey;
}

.footer-border {
    border-bottom: 1px solid #6C757D;
}

.footer-copyright {
    font-size: 0.8rem;
    font-weight: bold;
}